@font-face {
    font-family: 'Corporate S regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/corporate-s-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Corporate S bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/corporate-s-bold.ttf') format('truetype');
}