.searchintro{
    margin: 100px 0;
    h3, div.h3-subline{
        width: 100%;
        text-align: center;
    }
    .searchintro__input-wrapper{
        margin-top: $spacing-m;
        display: flex;
        justify-content: center;
        gap: $spacing-mobile;
        align-items: center;
        input{
            border: 4px solid $color-red;
            border-radius: 0;
        }
    }
}