<div class="extdb">
    <div class="extdb__img">
        {{ content.img }}
    </div>
    <div class="extdb__img-gradient">
    </div>
    <div class="extdb__txt">
    {{ content.link }}
    </div>
</div>