<section class="searchintro">
	<h3>{{ content.title }}</h3>
	<div class="h3-subline">{{ content.subtitle }}</div>
	<div class="searchintro__input-wrapper">
		<input type="text" id="searchinput" class="searchintro__input"/>
		<button id="search-string-from-home">Suchen</button>
	</div>
</section>
