<section class="hero-header">
<div class="hero-header__container grid">
    <div class="hero-header__content">
        <h1 class="hero-header__title title"><span>{{ content.topline }}</span>{{ content.title }}</h1>
        <div class="hero-header__text title-subline">{{ content.subtitle }}</div>
    </div>
    <div class="hero-header__image">
        {{ content.img }}
    </div>
</section>